* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 1250px;
    height: 680px;
    margin: 240px auto;
    background-color: #111827;
    border-radius: 20px;
}

.container .start {
    font-size: 30px;
    color: #0457aa;
    width: 50%;
    margin-left: 350px;
    font-variant-numeric: lining-nums;
    font-weight: 600;
}

.container:hover .start {
    color: #5b9bdb;
    transition: 0.3s ease-in-out;
}

.container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    float: left;
    background-color: rgb(120, 174, 255);
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(70, 146, 221);
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
    top: 5%;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.container .box:hover .icon .fa {
    font-size: 40px;
}

.container .box .content {
    position: relative;
    top: 100%;
    height: calc(100% -100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.container .box:hover .content {
    top: 100px;
}

.container .box .content h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box .icon h2 {
    color: white;
    margin-left: 35%;
    font-size: 50px;
}

.container .box:hover .icon h2 {
    color: transparent;
}

.container .box .icon h3 {
    color: white;
    margin-left: 30%;
    font-size: 50px;
}

.container .box:hover .icon h3 {
    color: transparent;
}

.container .box .icon h4 {
    color: white;
    margin-left: 15%;
    font-size: 50px;
}

.container .box:hover .icon h4 {
    color: transparent;
}

.container .box .content span {
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        width: 900px;
        height: 600px;
        margin: 40px auto;
        background-color: #111827;
        border-radius: 20px;
    }
    .container .start {
        font-size: 25px;
        color: #0457aa;
        width: 100%;
        margin-left: 250px;
        font-variant-numeric: lining-nums;
        font-weight: 600;
    }
    .container .box {
        position: relative;
        width: calc(250px - 5px);
        height: calc(200px - 5px);
        float: left;
        background-color: rgb(120, 174, 255);
        margin: 25px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
    }
    .container .box:hover .icon {
        top: 5%;
        left: calc(60% - 55px);
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .container .box .icon .fa {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-30%, -30%);
        font-size: 60px;
        transition: 0.5s;
        color: #fff;
    }
    .container .box:hover .icon .fa {
        font-size: 25px;
    }
    .container .box .icon h2 {
        font-size: 40px;
    }
    .container .box .icon h3 {
        font-size: 40px;
    }
    .container .box .icon h4 {
        font-size: 37px;
    }
    .container .box:hover .content {
        top: 30px;
        font-size: 13px;
    }
    .container .box:hover .content span {
        top: 30px;
        font-size: 15px;
    }
    .container .box:hover .content h3 {
        top: 50px;
        font-size: 20px;
    }
}

@media (max-width: 375px) {}